@font-face {
  font-family: "iconfont"; /* Project id 3441281 */
  src: url('@/static/css/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhongzhimima:before {
  content: "\e60a";
}

.icon-ai70:before {
  content: "\e6bc";
}

.icon-miyue:before {
  content: "\e64f";
}

.icon-shebei1:before {
  content: "\e615";
}

.icon-xitongkongzhi:before {
  content: "\e614";
}

.icon-shebei:before {
  content: "\e613";
}

.icon-shuju:before {
  content: "\e658";
}

